.dashboard{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.profile{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width:400px;
    width:100%;
    border:4px solid grey;
    border-radius:10px;
}

.dashboard button{
    background-color:palevioletred;
    width:90%;
    margin:1rem auto;
    font-size: 1rem;
    height:2rem;
    border-radius:10px;
}

.profile div{
    margin:1rem auto;
    text-align: center;
}